# Backend environment variables placeholder
APP_NAME = AppGuard
APP_VERSION = 0.1.0
ENVINRONMENT = development
API_V1_PREFIX = /api/v1

# To be added later

DATABASE_URL = postgresql+psycopg://appguard:appguard_password@localhost:5432/appguard_db
